body {
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.2px;
  color: silver;
  margin: 0;
  font-family: "Avenir", sans-serif;
}

@media only screen and (min-width: 1025px) {
  body {
    font-size: 20px;
    line-height: 30px;
  }
}
nav {
  height: 70px;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 70px;
  z-index: 4;
  padding: 0 36px;
  opacity: 1;
  transform: translateZ(0);
  transition: opacity 0.5s ease-out;
  pointer-events: none;
}


nav .sing-in {
  max-width: none;
  height: 40px;
  width: auto;
}

nav .pre a {
  margin-right: 20px;
}
.nav-btn-right {
  display: flex;
}

.pre {
  z-index: 3;
  background-color: transparent;
  opacity: 1;
  pointer-events: none;
  justify-content: flex-end;
  pointer-events: auto;
}

.post {
  z-index: 4;
  background-color: #040714;
  opacity: 0;
}

.btn-primary {
  padding: 20.5px 33px;
  cursor: pointer;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease 0s;
  color: #f9f9f9;
  background: #0063e5;
  border: none;
  font-size: 18px;
  line-height: 18px;
  text-decoration: none;
  font-weight: 400;
  letter-spacing: 1px;
  /* max-width: 185px; */
  height: 68px;
  /* width: 100%; */
}

.btn-primary,
.btn-secondary {
  max-width: none;
  height: 40px;
  width: auto;
  margin-bottom: 20px;
  height: 50px;
  padding: 11.5px 24px;
  max-width: 320px;
  cursor: pointer;
  border-radius: 4px;
  box-sizing: border-box;
  vertical-align: middle;
  text-align: center;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease 0s;
  font-size: 15px;
  line-height: 15px;
  text-decoration: none;
  font-weight: 400;
  letter-spacing: 1px;
  text-transform: uppercase;
}

nav a {
  margin: 5px !important;
}

.btn-secondary {
  color: #f9f9f9;
  background-color: #040714;
  border: 1px solid silver;
}

.small {
  font-size: 14px;
  line-height: 24px;
}

@media only screen and (min-width: 769px) {
  .btn-primary,
  .btn-secondary {
    font-size: 18px;
    line-height: 18px;
  }
}
@media only screen and (min-width: 769px){
  nav .btn-primary.small, nav .btn-secondary.small {
    padding: 8px 14px;
    padding-top: 8px;
    padding-right: 14px;
    padding-bottom: 8px;
    padding-left: 14px;
    max-width: 260px;
    height: 50px;
  }
}



@media only screen and (min-width: 769px){
  nav .btn-primary, nav .btn-secondary{
    max-width: 260px;
    height: 50px;
    text-transform: uppercase;
    max-width: none !important;
  }
}

@media only screen and (min-width: 769px) {
a.btn-secondary {
    padding-left: 16px !important;
    padding-right: 16px !important;
  }
}



a,
a:focus,
a:hover {
  color: #f9f9f9;
}



nav .btn-primary *,
nav .btn-secondary * {
  margin-top: 0;
}

.btn-primary *,
.btn-secondary * {
  margin-top: 1px;
}

nav img {
  width: 80px;
  height: auto;
  max-height: 70px;
  margin-top: 7px;
  padding: 0 14px;
  display: inline-block;
  margin-right: auto;
  transition: all 0.2s ease 0s;
}

nav .btn-secondary {
  background-color: rgba(0, 0, 0, 0.8);
}

/* .sing-in {
  color: #f9f9f9;
  display: flex;
  align-items: center;
  letter-spacing: 1px;
  font-size: 18px;
  line-height: 18px;
  text-decoration: none;
  border-radius: 4px;
  padding-left: 16px;
  padding-right: 16px;
  border: 1px solid silver;
  margin-top: 0px;
  height: 50px;
} */

.sing-in a {
  margin-top: 5px;
}

.suscribe {
  display: flex;
  margin-right: 300px;
}

section {
  position: relative;
  box-sizing: border-box;
  padding: 5.6vw;
  background-position: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #040714;
}

section picture {
  display: block;
  width: 100%;
  height: auto;
}
.section-one {
  background-image: url(https://cnbl-cdn.bamgrid.com/assets/f20434f2bb0788b570bde7f7189b0e2cfd1209a5a5d90f4e032acebc816c5076/original);
  min-height: 80vh;
  display: flex;
  align-items: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-position: top;
  background-size: 100%;
}

.content {
  margin-bottom: 346px;
  width: 50%;
  z-index: 1;
  align-items: center;
  max-width: 640px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content-one-pic img {
  width: 100%;
}

picture img {
  height: auto;
}

.content ul {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  justify-content: space-around;
  margin: 0 -12px;
}

.content-list {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  list-style: none;
  max-width: 100%;
  align-items: center;
}

.section-two {
  display: flex;
  align-items: center;
  background-color: #040714;
  height: 100vh;
}

.picture-img {
  width: 100%;
  height: 100%;
}

.content-two {
  display: flex;
  align-items: center;
  margin-bottom: 100px;
}

.content-two div {
  width: 50%;
}

.content-two-text {
  box-sizing: border-box;
  padding: 0 2vw;
  margin-bottom: 18px;
}

.content-two-text h2 {
  color: #f9f9f9;
}

.content-two-text p {
  vertical-align: inherit;
}

.section-three {
  display: flex;
  align-items: center;
}

.content-three {
  display: flex;
  align-items: center;
  margin-bottom: 100px;
}

.content-three div {
  width: 50%;
}

.content-three-text {
  box-sizing: border-box;
  padding: 0 2vw;
  margin-bottom: 18px;
}

.content-three-text h2 {
  color: #f9f9f9;
}

.content-three-text a {
  padding: 20.5px 33px;
  background-color: #0063e5;
  text-decoration: none;
  color: #f9f9f9;
  border-radius: 4px;
}

.content-four {
  display: flex;
  align-items: center;
}

.content-four-img {
  display: flex;
}

.section-five {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-five ul {
  display: flex;
}

.section-five ul li {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-five ul li img {
  display: block;
  width: 100%;
  height: auto;
}

.section-five ul li p {
  padding: 5px;
}

.text-medium {
  font-size: 15px;
  line-height: 25px;
}

h1,
h2,
h3 {
  letter-spacing: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #f9f9f9;
}

footer {
  background-color: #040714;
  display: flex;
  flex-direction: column;
}

.footer-log {
  width: 80px;
  margin-bottom: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.footer-links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 1024px;
  margin: 4px auto 15px;
}

.footer-links a {
  color: silver;
  padding: 8px 12px;
  text-decoration: none;
  border: none;
  text-align: inherit;
}

.footer-copyright {
  text-align: center;
}

.language-selector {
  padding: 0 26px;
  margin: 8px auto;
  z-index: 1;
  border: none;
  display: inline-block;
  background-color: transparent;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  color: #f9f9f9;
  text-align: center;
  -moz-text-align-last: center;
  text-align-last: center;
}

.language-selector img {
  position: absolute;
  left: 2px;
  top: 49%;
  width: 18px;
}


@media only screen and (max-width: 1025px) {
  .small {
    font-size: 16px;
    line-height: 26px;
  }
}
