body {
  background-color: #fff;
  height: 100%;
  margin: 0;
  padding: 0;
  min-width: 400px;
  font-size: 14px;
  font-family: arial, sans-serif;
  color: #202124;
}

header {
  display: flex;
  align-items: center;
  height: 60px;
  justify-content: space-between;
}

header a {
  text-decoration: none;
  color: #202124;
}

.header-right {
  display: flex;
  flex-direction: row;
  width: 90px;
  align-items: center;
  justify-content: space-between;
  margin-left: 26px;
}

.header-right a:link,
.header-right a:visited {
  color: #202124;
}

.header-right a:hover,
.header-right a:active {
  text-decoration: underline;
  color: #202124;
}

.header-left {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font: 13px/27px Roboto, RobotoDraft, Arial, sans-serif;
}

.header-btn-left {
  font: 13px/27px Roboto, RobotoDraft, Arial, sans-serif;
  display: flex;
  margin-right: 19px;
  line-height: 24px;
}

.header-btn-left .btn-left a:link,
.header-btn-left .btn-left a:visited {
  color: #202124;
}

.header-btn-left .btn-left a:hover,
.header-btn-left .btn-left a:active {
  text-decoration: underline;
  color: #202124;
}

.gmail {
  margin-right: 15px;
}

.dots {
  line-height: normal;
  margin-right: 12px;
  margin-top: 3px;
}

.header-btn-right {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-right: 18px;
}

.logo-9 {
  color: #5f6368;
  opacity: 1;
  height: 24px;
  width: 24px;
  fill: currentColor;
  padding: 8px;
}

.logo-9:hover {
  background-color: rgba(60, 64, 67, 0.08);
  outline: none;
  border-radius: 50%;
}

.sign-in {
  font-family: Google Sans, Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
  background: #1a73e8;
  border: 1px solid transparent;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.25px;
  line-height: 16px;
  min-width: 96px;
  padding: 9px 23px;
  text-align: center;
  vertical-align: middle;
  border-radius: 4px;
  box-sizing: border-box;
}

.sign-in:hover {
  background: #2b7de9;
  -webkit-box-shadow: 0 1px 2px 0 rgb(66 133 244 / 30%),
    0 1px 3px 1px rgb(66 133 244 / 15%);
  box-shadow: 0 1px 2px 0 rgb(66 133 244 / 30%),
    0 1px 3px 1px rgb(66 133 244 / 15%);
}

.sign-in a {
  color: #fff;
}
section {
  height: calc(100vh - 154px);
}

.splash {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 293px;
  max-height: 290px;
  height: calc(100% - 560px);
}

.troogle-img-cont {
  max-height: 132px;
  position: relative;
  margin-top: auto;
}

.troogle-img-cont {
  max-height: 100%;
  max-width: 100%;
  object-fit: contain;
  object-position: center bottom;
  width: auto;
}

.search-box {
  display: flex;
  margin: 0 auto;
  padding-top: 23px;
  max-width: 584px;
}

.form:hover {
  background-color: #fff;
  box-shadow: 0 1px 6px rgb(32 33 36 / 28%);
  border-color: rgba(223, 225, 229, 0);
}

.form {
  height: 37px;
  flex: 1;
  width: 638px;
  display: flex;
  justify-content: space-between;
  border: 1px solid #dfe1e5;
  border-radius: 24px;
  padding: 7px 8px 0 14px;
}

.form form {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
}

.img-mic {
  display: flex;
  height: 24px;
  width: 24px;
  margin-top: 3px;
  margin-right: 8px;
  cursor: pointer;
  align-items: center;
  border: 0;
  background: transparent;
}
.svg-loupe {
  padding-top: 5px;
  height: 20px;
  width: 20px;
  color: #9aa0a6;
  fill: #9aa0a6;
}

input {
  border: none;
  margin-left: 13px;
  padding: 0;
  color: rgba(0, 0, 0, 0.87);
  word-wrap: break-word;
  outline: none;
  display: flex;
  flex: 100%;
  height: 29px;
  font-size: 16px;
}

input:hover,
input:focus-visible {
  border: none;
  display: flex;
  flex: 100%;
  font-size: 16px;
}

.two-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 12px;
  padding-top: 12px;
  height: 70px;
}

.two-btn div:hover {
  box-shadow: 0 1px 1px rgb(0 0 0 / 10%);
  background-color: #f8f9fa;
  border: 1px solid #dadce0;
  color: #202124;
}

.two-btn div {
  padding: 5px 16px 5px 16px;
  border: 1px solid #f8f9fa;
  align-items: center;
  border-radius: 4px;
  background-color: #f8f9fa;
  color: #3c4043;
  font-family: arial, sans-serif;
  font-size: 14px;
  margin: 11px 6px;
  line-height: 24px;
  height: 24px;
}

.offered {
  font-size: small;
  display: flex;
  justify-content: center;
  height: 242px;
}

.offered a {
  color: #1a0dab;
  text-decoration: none;
  padding: 0 3px;
}
.offered a:hover,
.offered a:active {
  text-decoration: underline;
}
footer {
  display: flex;
  flex-direction: column;
  background-color: #f2f2f2;
  height: 94px;
}

footer a {
  color: #70757a;
  text-decoration: none;
}
.footer-top {
  padding: 15px 30px;
  border-bottom: 1px solid #dadce0;
  font-size: 15px;
  color: #70757a;
}

.fives-a {
  display: block;
  padding: 15px;
  white-space: nowrap;
}

.settings {
  position: relative;
  display: block;
  padding: 15px;
  white-space: nowrap;
  cursor: pointer;
  width: 100%;
  text-align: left;
}

.footer-bottom {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.footer-bottom-left {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-bottom a:link,
.footer-bottom a:visited {
  color: #70757a;
}

.footer-bottom a:hover,
.footer-bottom a:active {
  text-decoration: underline;
  color: #70757a;
}

.footer-bottom-rigth {
  display: flex;
}
